
fastapi
uvicorn
langchain
langchain-cohere
openai
sqlite-utils
sqlalchemy
python-dotenv


#rontend dependencies
streamlit
numpy

# Scraper dependencies
scrapy
selenium
beautifulsoup4
requests
pandas
lxml

